<a class="" ng-href="/">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
       width="48px" height="48px" x="0px" y="0px" viewBox="-281 373 48 48" style="enable-background:new -281 373 48 48;"
       xml:space="preserve">
    <style type="text/css">
      .st0 { fill: #181F1C; }
      .st1 { fill: #FFFFFF; }
      .st2 { font-family: 'sofia'; }
      .st3 { font-size: 14px; }
    </style>
    <rect x="-281" y="373" class="st0" width="48" height="48"></rect>
    <text transform="matrix(1 0 0 1 -267.21 401.1053)" class="st1 st2 st3">T</text>
    <text transform="matrix(1 0 0 1 -253.9098 401.1051)" class="st1 st2 st3">P</text>
  </svg>
</a>
