<div class="menu" ng-controller="MenuCtrl">
  <div class="menu--box">
    <div class="menu--box--title">Projects</div>
    <div class="menu--box--item is-underlined is-clickable" ng-repeat="project in projects">
      <a ng-href="{{project.Link}}">{{project.Project}}</a>
    </div>
  </div>
  <div class="menu--box">
    <div class="menu--box--title">What I Do</div>
    <div class="menu--box--item" ng-repeat="skill in whatIDo">{{skill}}</div>
  </div>
  <div class="menu--box">
    <div class="menu--box--title">What I Use</div>
    <div class="menu--box--item" ng-repeat="framework in whatIUse">{{framework}}</div>
  </div>
  <div class="menu--box">
    <div class="menu--box--title">Contact</div>
    <div class="menu--box--item">
      Email: <a href="mailto:travispett@gmail.com" class="is-clickable is-underlined">travispett@gmail.com</a>
    </div>
    <div class="menu--box--item">Mobile: 540.424.1658</div>
    <div class="menu--box--item">
      Resume:
      <a href="https://www.dropbox.com/s/sfp4nz407rq1x4c/Travis%20Pett%20resume%20-%20Bridgewater%20College%20-%20travispett%40gmail.pdf?dl=0" class="is-clickable is-underlined">
        Download
      </a>
    </div>
    <div class="menu--box--item">
      <a href="https://github.com/travispett">
        <img class="github-logo" ng-src="/assets/images/GitHub-Mark-32px.png">
      </a>
      <a href="https://www.linkedin.com/in/travispett">
        <img class="linkedin-logo" ng-src="/assets/images/In-Black-34px-R.png">
      </a>
    </div>
  </div>
</div>
